.LocationListContainer {
  column-gap: 0;
  column-count: 1;
  line-height: 1.5;

  &.four-columns {
    column-count: 4;
  }

  &.two-columns {
    column-count: 2;
  }
}

.GroupedList {
  border-left: 2px solid #D0D0D0;
  -webkit-column-break-inside: avoid;
  &-header,
  &-checkbox {
    padding: $size-increment*2;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
  }

  &-header {
    background-color: #E0E0E0;
    font-weight: 500;
    display: flex;
    align-content: center;
  }

  &-checkbox {
    margin: 0 $size-increment;
  }
}

.Header-actions {
  flex: 1;
  opacity: 0.5;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
