.SelectorContainer {
  height: 400px;
  background-color: $home-background-color;
  display: flex;
  &.is-small {
    >* { flex: 1; }
  }

  &.is-large {
    & .Selector-show { width: 100%; }
  }

  &.is-open {
    opacity: 1;
    max-height: 400px;
  }

  &.is-docked {
    position: fixed;
    bottom: 0; right: 0; left: 20%;
    min-width: 320px;
    overflow: auto;
    background-color: #E8E8E8;
  }
}

.Selector {
  &-actions {
    display: flex;
    padding: $size-increment*2;
    >* { flex: 1; }
  }

  &-show {
    height: 100%;
    overflow: hidden;
  }

  &-list {
    height: 100%;
    overflow: scroll;
  }

  &-map {
    height: 100%;
  }
}

.Actions-dock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Actions-items {
  display: flex;
  align-items: center;
  padding-left: $size-increment;
  >* { margin-left: $size-increment; }
}

.SelectorItems {
  padding-left: $size-increment;
  font-size: 20px;
  opacity: 0.75;
  padding: 0 4px;
}
