.SelectorContainer {
  height: 400px;
  background-color: $home-background-color;
  display: flex;
  >* { flex: 1; }

  &.is-open {
    opacity: 1;
    max-height: 400px;
  }

  &.is-docked {
    position: fixed;
    bottom: 0; right: 0; left: 50%;
    min-width: 320px;
    overflow: auto;
    background-color: #D0D0D0;
  }
}

.Selector {
  &-actions {
    display: flex;
    padding: $size-increment*2;
    >* { flex: 1; }
  }

  &-show {
    height: 100%;
    overflow: hidden;
  }

  &-list {
    height: 100%;
    overflow: scroll;
  }

  &-map {
    height: 100%;
  }
}

.Actions-dock {
  font-size: 20px;
  opacity: 0.75;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.SelectorItems {
  padding-left: $size-increment;
}
